@import '../../../../assets/colors/colors.scss';  
@import 'screen-sizes.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px; // Ajusta el ancho del card
  background-color: $white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;

  @media (max-width: map-get($screen-sizes, desktop)) {
    max-width: 100%; // Para pantallas pequeñas, que ocupe todo el ancho
  }}

.card {
  padding: 0px 20px; // Aumenta el padding para dar más espacio
  height: 600px;
  h1 {
    font-size: 28px;
    color: $black;
    margin-bottom: 16px;
  }

  .form-title {
    font-size: 18px;
    color: $hint_text;
    margin-bottom: 20px;
  }

  input, button {
    font-size: 16px;
  }
}