<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <button class="close-button" (click)="closeModal()">×</button>
  <div class="sort-options">
    <label for="sortOrder">Sort Order:</label>
    <select id="sortOrder" (change)="changeSortOrder($event)">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
    <label for="sortBy">Sort By:</label>
    <select id="sortBy" (change)="changeSortBy($event)">
      <option value="name">Name</option>
      <option value="brand">Brand</option>
      <option value="category">Category</option>
    </select>
  </div>
  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Brand</th>
        <th>Categories</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of paginatedProducts">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ getBrandName(product.brandId) }}</td>
            <td>{{ getCategoryNames(product.categoryIds) }}</td>
          </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{ currentPage + 1 }} of {{ getTotalPages() }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= getTotalPages() - 1">Next</button>
  </div>
</div>