//Paleta de colores

//Corporate colors
$purple: #9d3fe7;
$gradient: linear-gradient(159.13deg, #9d3fe7 24.13%, #602093 132.21%);

//Colors grayscale
$black: #1a1a1f;
$hint_text: #483a5a;
$border: #ab7a7f;
$disabled: #d4d2d5;
$spacer: #d9d1e0;
$spacer_light: #e5e0e6;
$bg_light_gray: #f5f7f3;
$white: #ffffff;

//Colors informing
$error: #d51a52;
$attention: #ff9500;
$approval: #00b998;
$info: #0f0bab;
