<header class="header" [class.menu-open]="menuOpen">
  <div class="header__brand">
    <img
      src="../../../../assets/logos/logo.png"
      alt="Emazon logo"
      class="header__logo"
    />
    <h1 class="header__title">Emazon</h1>
  </div>

  <nav class="header__nav" [class.hidden]="!menuOpen">
    <ul class="header__menu">
      <li class="header__menu-item">
        <a
          routerLink="/category"
          routerLinkActive="active"
          class="header__menu-link"
        >
          <i class="fas fa-plus"></i>
          Category
        </a>
      </li>
      <li class="header__menu-item">
        <a
          routerLink="/brand"
          routerLinkActive="active"
          class="header__menu-link"
        >
          <i class="fas fa-list"></i>
          Brand
        </a>
      </li>
      <li class="header__menu-item">
        <a routerLink="/" routerLinkActive="active" class="header__menu-link">
          <i class="fas fa-times"></i>
          x
        </a>
      </li>
    </ul>
  </nav>

  <button class="header__menu-button" (click)="toggleMenu()">
    <i [class]="menuOpen ? 'fas fa-chevron-left' : 'fas fa-bars'"></i>
  </button>
</header>
