@import '../../../../assets/colors/colors.scss';
 
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid $border;
  border-radius: 4px;
  padding: 5px;
  background-color: $white;
 
  .input-element {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    color: $hint_text;
 
    &::placeholder {
      color: $hint_text;
    }
  }
 
  .search-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
 
    img {
      width: 20px;  // Ajusta el tamaño de acuerdo a tus necesidades
      height: 20px;
    }
  }
}
 