@import '../../../../assets/colors/colors.scss';
@import '../../../../assets/screen-sizes/screen-sizes.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px; // Ajusta el ancho del card para una mejor presentación
  background-color: $white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px;

  @media (max-width: map-get($screen-sizes, desktop)) {
    max-width: 100%; // Para pantallas más pequeñas, que ocupe todo el ancho
    padding: 15px;
  }

  @media (max-width: 600px) {
    padding: 10px;
  }
}

.card {
  padding: 20px;
  width: 100%;

  @media (max-width: 600px) {
    padding: 15px;
  }

  h1 {
    font-size: 28px;
    color: $black;
    margin-bottom: 16px;

    @media (max-width: 600px) {
      font-size: 24px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  .form-title {
    font-size: 18px;
    color: $hint_text;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  data-form-ext {
    width: 100%;
  }

  input, button {
    font-size: 16px;

    @media (max-width: 600px) {
      font-size: 14px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}