:host {
  display: block;
  margin-top: auto;
}

footer {
  background: linear-gradient(159.13deg, #9d3fe7 24.13%, #602093 132.21%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
