<div class="tableWrap">
  <!-- Añadir el selector de ordenación arriba de la tabla -->
  <div class="table-header">
    <app-selector (onSortChange)="onSortChange($event)"></app-selector>
  </div>

  <!-- Tabla para mostrar los datos -->
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let column of columns">{{ item[column.field] }}</td>
      </tr>
    </tbody>
  </table>
</div>
