$corner-radius-small: 4px;
$corner-radius-medium: 8px;
$corner-radius-large: 12px;
$corner-radius-huge: 24px;

$shadow-xs: 0px 15px 10px 0px #d3c0d6 7%;
$shadow-sm: 0px 8px 16px 0px #3e134d 7%;
$shadow-md: 0px 15px 30px 0px #3e134d 9%;
$shadow-lg: 0px 10px 30px 0px #3e134d 47%;
